---
# tasks file for pentest
- name: Install prerequisites
  become: true
  apt:
    update_cache: true
    install_recommends: false
    pkg:
      - openvpn
      - firefox
      - httpie
      - nmap

- name: Create wordlist directory
  become: true
  ansible.builtin.file:
    path: '{{ wordlist_path }}'
    state: directory

- name: Download wordlists
  become: true
  git:
    repo: https://github.com/3ndG4me/KaliLists.git
    dest: '{{ wordlist_path }}'
    update: true

- name: Modify wordlists owner
  become: true
  ansible.builtin.file:
    path: '{{ wordlist_path }}'
    state: directory
    recurse: true
    owner: vagrant
    group: vagrant


- name: Add ffuf
  shell: >
    . ~/.profile 
    && go get -u github.com/ffuf/ffuf

